<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munchranch Admin</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--load tailwind-->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!--load flowbite-->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />
</head>
<body class="bg-teal-900 flex justify-center items-center h-min-screen h-min p-8 overflow-scroll">
    <div id="container" class="relative bg-white rounded h-min w-full">
    <nav class="flex justify-between w-full p-4">
        <h1 class="font-bold  text-2xl text-teal-900 p-2">Admin</h1>

        <form action="" method="post">
            <button class="p-2 m-2 rounded bg-teal-900 text-white" name="addcat" value="True">Add a Cat</button>
        </form>

        <form action="" method="post">
            <button class="p-2 m-2 rounded bg-teal-900 text-white" name="addlitter" value="True">Create a Litter</button>
        </form>

        <form action="" method="post">
            <button class="p-2 m-2 rounded bg-teal-900 text-white" name="addkitten" value="True">Add Kitten to Litter</button>
        </form>

        <form action="" method="post">
            <button class="p-2 m-2 rounded bg-teal-900 text-white" name="removekitten" value="True">Remove Kitten from Litter</button>
        </form>
        {% if current_user.is_authenticated %}
            Hi {{ current_user.name }}!
            Your email is {{ current_user.email}}
        {% endif %}
        <a href="{{ url_for('logout') }}" class="bg-teal-900 p-2 m-2 rounded text-white">Logout</a>
    </nav>
    <div id="contents" class="p-4 flex-row flex">
        <div id="action" class="h-full">
            {% if form == "createcat" %}
            <form action={{ url_for("handle") }} method="post" validators=[FileRequired()] enctype="multipart/form-data">
                <h2 class="font-bold text-xl m-4">Add a Cat</h2>
                {{ createcatform.hidden_tag() }}
                <p class="m-4">
                    {{ createcatform.name.label }}<br>
                    {{ createcatform.name(size=32) }}
                </p>
                <p class="m-4">
                    {{ createcatform.description.label }}<br>
                    {{ createcatform.description(size=32) }}
                </p>
                <p class="m-4">
                    {{ createcatform.color.label }}<br>
                    {{ createcatform.color(size=32) }}
                </p>
                <div id="demographics" class="flex flex-row">
                <p class="m-4">
                    {{ createcatform.birthdate.label }}<br>
                    {{ createcatform.birthdate }}
                </p>
                <p class="m-4">
                    {{ createcatform.sex.label }}<br>
                    {{ createcatform.sex }}
                </p>
                </div>
                <div id="checks" class="flex flex-row">
                <p class="m-4">
                    {{ createcatform.forsale.label }}<br>
                    {{ createcatform.forsale(size=32) }}
                </p>
                <p class="m-4">
                    {{ createcatform.sold.label }}<br>
                    {{ createcatform.sold(size=32) }}
                </p>
                <p class="m-4">
                    {{ createcatform.breeder.label }}<br>
                    {{ createcatform.breeder(size=32) }}
                </p>
                </div>
                <p class="m-4">
                    {{ createcatform.photo.label }}<br>
                    {{ createcatform.photo(size=32) }}
                </p>
                <button class="bg-teal-900 p-4 m-4 rounded text-white">{{ createcatform.submit() }}</button>
            </form>
            {% endif %}
            
            {% if form == "updatecat" %}
            <form action={{ url_for("handle") }} method="post" validators=[FileRequired()] enctype="multipart/form-data">
                <h2 class="font-bold text-xl m-4">Add a Cat</h2>
                {{ updatecatform.hidden_tag() }}
                <p class="m-4">
                    {{ updatecatform.name.label }}<br>
                    {{ updatecatform.name(size=32) }}
                </p>
                <p class="m-4">
                    {{ updatecatform.description.label }}<br>
                    {{ updatecatform.description(size=32) }}
                </p>
                <p class="m-4">
                    {{ updatecatform.color.label }}<br>
                    {{ updatecatform.color(size=32) }}
                </p>
                <div id="demographics" class="flex flex-row">
                <p class="m-4">
                    {{ updatecatform.birthdate.label }}<br>
                    {{ updatecatform.birthdate }}
                </p>
                <p class="m-4">
                    {{ updatecatform.sex.label }}<br>
                    {{ updatecatform.sex }}
                </p>
                </div>
                <div id="checks" class="flex flex-row">
                <p class="m-4">
                    {{ updatecatform.forsale.label }}<br>
                    {{ updatecatform.forsale(size=32) }}
                </p>
                <p class="m-4">
                    {{ updatecatform.sold.label }}<br>
                    {{ updatecatform.sold(size=32) }}
                </p>
                <p class="m-4">
                    {{ updatecatform.breeder.label }}<br>
                    {{ updatecatform.breeder(size=32) }}
                </p>
                </div>
                <p class="m-4">
                    {{ updatecatform.photo.label }}<br>
                    {{ updatecatform.photo(size=32) }}
                </p>
                <button class="bg-teal-900 p-4 m-4 rounded text-white">{{ updatecatform.submit() }}</button>
            </form>
            {% endif %}

            {% if form=='deletecat' %}
            <form action={{ url_for("handle") }} method="post" validators=[FileRequired()] enctype="multipart/form-data">
                <p class="m-4">
                    {{ deletecatform.name.label }}<br>
                    {{ deletecatform.name(readonly=True) }}
                </p>
                <button class="bg-teal-900 p-4 m-4 rounded text-white">{{ deletecatform.submit() }}</button> 
            </form>
            {% endif %}

            {% if form=='createlitter' %}
            <p>Litter CREATION</p>
            <form action={{ url_for("handle") }} method="post" validators=[FileRequired()] enctype="multipart/form-data">
                {{ createlitterform.hidden_tag() }}
                <p class="m-4">
                    {{ createlitterform.mother.label }}<br>
                    {{ createlitterform.mother }}
                </p>
                <p class="m-4">
                    {{ createlitterform.father.label }}<br>
                    {{ createlitterform.father }}
                </p>
                <p class="m-4">
                    {{ createlitterform.duedate.label }}<br>
                    {{ createlitterform.duedate }}
                </p>
                <p class="m-4">
                    {{ createlitterform.born.label }}<br>
                    {{ createlitterform.born(size=32) }}
                </p>
                <p class="m-4">
                    {{ createlitterform.public.label }}<br>
                    {{ createlitterform.public(size=32) }}
                </p>
                <button class="bg-teal-900 p-4 m-4 rounded text-white">{{ createlitterform.submit() }}</button>
            </form>
            {% endif %}

            {% if form=='updatelitter' %}
            <p>LITTER UPDATE</p>
            <form action={{ url_for("handle") }} method="post" validators=[FileRequired()] enctype="multipart/form-data">
                <div >
                <p class="m-4">
                    {{ updatelitterform.mother.label }}<br>
                    {{ updatelitterform.mother(readonly=True) }}
                </p>
                <p class="m-4">
                    {{ updatelitterform.father.label }}<br>
                    {{ updatelitterform.father(readonly=True) }}
                </p>
                <p class="m-4">
                    {{ updatelitterform.duedate.label }}<br>
                    {{ updatelitterform.duedate(readonly=True) }}
                </p>
                <p class="m-4">
                    {{ updatelitterform.birthdate.label }}<br>
                    {{ updatelitterform.birthdate(size=32) }}
                </p>
                </div>
                <p class="m-4">
                    {{ updatelitterform.born.label }}<br>
                    {{ updatelitterform.born(size=32) }}
                </p>
                <p class="m-4">
                    {{ updatelitterform.public.label }}<br>
                    {{ updatelitterform.public(size=32) }}
                </p>
                <button class="bg-teal-900 p-4 m-4 rounded text-white">{{ updatelitterform.submit() }}</button>
            </form>
            {% endif %}

            {% if form=='deletelitter' %}
            <form action={{ url_for("handle") }} method="post" validators=[FileRequired()] enctype="multipart/form-data">
                <p class="m-4">
                    {{ deletelitterform.mother.label }}<br>
                    {{ deletelitterform.mother(readonly=True) }}
                </p>
                <p class="m-4">
                    {{ deletelitterform.father.label }}<br>
                    {{ deletelitterform.father(readonly=True) }}
                </p>
                <p class="m-4">
                    {{ deletelitterform.duedate.label }}<br>
                    {{ deletelitterform.duedate(readonly=True) }}
                </p>
                <button class="bg-teal-900 p-4 m-4 rounded text-white">{{ deletelitterform.submit() }}</button> 
            </form>
            {% endif %}
            {% if form == 'addkitten' %}
            <p>ADD KITTEN</p>
            <form action={{ url_for("handle") }} method="post" validators=[FileRequired()] enctype="multipart/form-data">
                <p class="m-4">
                    {{ addkittenform.kitten.label }}<br>
                    {{ addkittenform.kitten(readonly=True) }}
                </p>
                <p class="m-4">
                    {{ addkittenform.litter.label }}<br>
                    {{ addkittenform.litter(readonly=True) }}
                </p>
                <button class="bg-teal-900 p-4 m-4 rounded text-white">{{ addkittenform.submit() }}</button> 
            </form>
            {% endif %}
            {% if form == 'removekitten' %}
            <form action={{ url_for("handle") }} method="post" validators=[FileRequired()] enctype="multipart/form-data">
                <p class="m-4">
                    {{ removekittenform.kitten.label }}<br>
                    {{ removekittenform.kitten(readonly=True) }}
                </p>
                <p class="m-4">
                    {{ removekittenform.litter.label }}<br>
                    {{ removekittenform.litter(readonly=True) }}
                </p>
                <button class="bg-teal-900 p-4 m-4 rounded text-white">{{ removekittenform.submit() }}</button> 
            </form>
            {% endif %}
        </div>
        <div id="data">
            <div class="h-96 overflow-y-scroll">
            <h2 class="font-bold text-xl m-4">Cats</h2>
            {% for cat in cats %}
            {% if cat.picture %}
                <img src= {{ cat.picture }} class="h-40 w-40">
            {% endif %}
            <p class="font-bold">{{cat.name}}</p>
            <p><b>Sex:</b> {{cat.sex}} <b>Color:</b> {{cat.color}}</p>
            {% if cat.forsale %}
                <p>For Sale</p>
            {% endif %}
            {% if cat.breeding %}
                <p>Breeding</p>
            {% endif %}
            <p>{{cat.description}}</p>
            <div>
                <form action="" method="POST">
                    <button class="bg-green-500 p-1 rounded" name="updatecat" value={{cat.name}}>Update</button>
                </form>
                <form action="" method="POST">
                <button class="bg-red-500 p-1 rounded" name="deletecat" value={{cat.name}}>Delete</button>
                </form>
            </div>
            {% endfor %}
            </div>

            <div class="h-96 overflow-y-scroll">
            <h2 class="font-bold text-xl m-4">Litters</h2>
            {% for litter in litters %}
            <p>{{litter}}</p>
            <p>{{ litter.kittens }}</p>
            <div>
                <form action="" method="POST">
                <button class="bg-green-500 p-1 rounded" name="updatelitter" value={{ litter.father.name + "|" + litter.mother.name + "|" + litter.duedate + "|" + litter.birthdate + "|" + litter.public|string + "|" + litter.born|string}}>Update</button>
                </form>
                <form action="" method="POST">
                <button class="bg-red-500 p-1 rounded" name="deletelitter" value={{ litter.father.name + "|" + litter.mother.name + "|" + litter.duedate + "|" + litter.birthdate+ "|" + litter.public|string + "|" + litter.born|string}}>Delete</button>
                </form>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>