<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munchranch Admin</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--load tailwind-->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!--load flowbite-->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />
</head>
<body class="bg-teal-900 flex justify-center items-center h-screen">
    <div id="container" class="m-auto bg-white rounded w-1/2 py-4 flex justify-center">
    <h1>Admin</h1>
    {% if current_user.is_authenticated %}
        Hi {{ current_user.name }}!
        Your email is {{ current_user.email}}
    {% endif %}
    <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>