<!--Variables:
title - the name of the cattery
user - the name of the current user-->

<!doctype html>
<html>
    <head>
        <title>MunchranchSiberian Cats</title>
        <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!--load tailwind-->
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <!--load flowbite-->
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />
    </head>
    <body class="bg-teal-900 h-screen">
        <header>
            <nav  class="flex flex-row justify-between fixed top-0 left-0 right-0 bg-white h-32 items-center
            px-4 text-slate-800 z-50 shadow-md">
                <a href="/"><p class="flex-1 text-center px-8 text-teal-900 text-xl text-bold">Munchranch Siberian Cats</p></a>

                <!--meet our cats dropdown-->
                <div class="flex-1 flex flex-col h-full">
                    <button data-dropdown-toggle="dropdown-1" class="flex-1 inline-block text-center bg-white outline-0">Meet Our Cats</button>
                    <ul id="dropdown-1" class="flex-1 hidden bg-white shadow-md p-5 rounded">
                        <div>
                        <li class="p-2"><a href="/available-kittens">Available Kittens</a></li>
                        <li class="p-2"><a href="/expecting-litters">Expecting Litters</a></li>
                        <li class="p-2"><a href="/our-breeders">Our Breeders</a></li>
                        <li class="p-2"><a href="/sold-kittens">Sold Kittens</a></li>
                        </div>
                    </ul>
                </div>

                <!--adoption dropdown-->
                <div class="flex-1 flex flex-col h-full">
                    <button data-dropdown-toggle="dropdown-2" class="flex-1 inline-block text-center bg-white outline-0">Adoption Information</button>
                    <ul id="dropdown-2" class=" hidden bg-white shadow-md p-5 rounded">
                        <div>
                        <li class="p-2"><a href="/bringing-kitten-home">Bringing Your Kitten Home</a></li>
                        <li class="p-2"><a href="/breeder-info">Breeder Information</a></li>
                        <li class="p-2"><a href="/conditions-for-sale">Conditions for Sale</a></li>
                        <li class="p-2"><a href="/health-contract">Health Contract</a></li>
                        <li class="p-2"><a href="/pricing-discounts">Pricing Discounts</a></li>
                        </div>
                    </ul>
                </div>

                <div class="flex-1 flex flex-col h-full">
                    <button data-dropdown-toggle="dropdown-3" class="flex-1 inline-block text-center bg-white outline-0">Caring for Your Siberian</button>
                    <ul id="dropdown-3" class="hidden bg-white shadow-md p-5 rounded">
                        <div>
                        <li class="p-2"><a href="/general-care">General Care</a></li>
                        <li class="p-2"><a href="/diet">Diet</a></li>
                        <li class="p-2"><a href="/second-cats">Introducing a Second Cat</a></li>
                        <li class="p-2"><a href="/resources">Resources</a></li>
                        </div>
                    </ul>
                </div>
                <div class="flex-2 px-4"><a href="/responsible-breeding"><p class="header_button">Responsible Breeding</p></a></div>
                <div class="flex-2 px-4"><a href="/testimonials"><p class="header_button">Testimonials</p></a></div>
                <div  class="flex-2 px-4"><a href="/application"><p class="header_button">Application</p></a></div>
                <div  class="flex-2 px-4"><a href="/contact"><p class="header_button">Contact</p></a></div>
                <div  class="flex-2 px-4"><a href="/about"><p class="header_button">About</p></a></div>
            </nav>
        </header>
        <div class="relative z-10 py-32 px-32 pt-40 mx-32 bg-white h-full">
        {% block content %}
        {% endblock %}
        </div>
        <script>
            var moc_button = document.querySelector(".moc_header");
            var moc_dropdown = document.querySelector(".moc_dropdown");

            var ai_button = document.querySelector(".ai_header");
            var ai_dropdown = document.querySelector(".ai_dropdown");

            var cys_button = document.querySelector(".cys_header");
            var cys_dropdown = document.querySelector(".cys_dropdown");

            moc_button.addEventListener("mouseover", createShowHandler(moc_dropdown))
            moc_button.addEventListener("mouseout", createHideHandler(moc_dropdown))

            ai_button.addEventListener("mouseover", createShowHandler(ai_dropdown))
            ai_button.addEventListener("mouseout", createHideHandler(ai_dropdown))

            cys_button.addEventListener("mouseover", createShowHandler(cys_dropdown))
            cys_button.addEventListener("mouseout", createHideHandler(cys_dropdown))

            function createShowHandler(element){
                return function(){
                    show_menu(element);
                }
            };

            function createHideHandler(element){
                return function(){
                    hide_menu(element)
                }
            };

            function show_menu(element){
                element.classList.add("visible")
            };

            function hide_menu(element){
                element.classList.remove("visible")
            };
        </script>
        <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>

    </body>
</html>