<!--Variables:
title - the name of the cattery
user - the name of the current user-->

<!doctype html>
<html>
    <head>
        <title>{{title}} - Siberian Cats</title>
    </head>
    <body>
        <header>
            <h1>Munchranch Siberians</h1>
            <menu>
                <p>Meet Our Cats</p>
                <p>Adoption Information</p>
                <p>Caring for Siberians</p>
                <p>Responsible Breeding</p>
                <p>Testimonials</p>
                <p>Application</p>
                <p>Contact</p>
                <p>About</p>
            </menu>
        </header>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>