<!--Variables:
title - the name of the cattery
user - the name of the current user-->

{% extends "base.html" %}
{% block content %}
<div>
        <h1>Munchranch presents: Siberian Cats from Russia</h1>
        <img>
</div>
<div>
        <img>
        <p>What do you have when you get two Siberian cats? Lots of fluff, joy, happiness and having to find another place to sit. </p>
</div>
<div>
        <h2>See our available kittens</h2>
        <img>
</div>
<div>
        <img>
        <h2>See our breeding cats</h2>
</div>
{% endblock %}
