<!--Variables:
title - the name of the cattery
user - the name of the current user-->

{% extends "base.html" %}
{% block content %}
<div>
        <h1>Munchranch presents: Siberian Cats from Russia</h1>
        <div>
                <img src={{url_for('static', filename="img/lovetoplay.jpg")}}>
                <img src={{url_for('static', filename="img/torbiesisters1.jpg")}}>
                <img src={{url_for('static', filename="img/catIncup.jpg")}}>
        </div>
        <p>The Siberians are gentle, loving, and will want to be on your lap most of the time. 
        These cats are very hardy, clean, healthy, and easy to care for, being almost maintenance free, as far as long hair cats go. 
        They were first introduced into the country from Russia in 1990, so they are fairly new.
        This breed comes in many colors, including color point with blue eyes, sometimes called Neva.
        The hypoallergenic aspects of this breed of cats comes from the lower amounts of the Feld-1 dander that these cats produce.
        No matter why you might want to try one of these jewels of the feline world, you will truly come to love them.  </p>
        <img>
</div>
<div>
        <img src={{url_for('static', filename="img/iceNstoli.jpg")}}>
        <p>What do you have when you get two Siberian cats? Lots of fluff, joy, happiness and having to find another place to sit. </p>
</div>
<div>
        <h2>See our available kittens</h2>
        <img>
</div>
<div>
        <img>
        <h2>See our breeding cats</h2>
</div>
{% endblock %}
